//
  디지노리(digiNORI) extension 사물놀이(samulNORI) extension 풍물놀이(pungmulNORI) extension 굿(gut) = play = NORI
 
  Samulnori is music played on the four basic Korean percussion instruments: the ggoenggwari (a small gong), the jing (a large gong), the janggo (an hourglass drum), and the buk (a barrel drum). Though derived from traditional Korean famers'' music, samulnori itself is a fairly recent phenomenon, having begun in 1978 with the establishment of the very first Samulnory band by Kim Duck-soo. It became popular and spread quickly as a new genre of music. This highly creative, exhilarating, joyful music is now performed on stages throughout the world.
  
  사물놀이란 꽹과리, 징, 장고, 북 등 4개의 기본적인 타악기로 연주하는 음악을 일컫는다. 사물놀이는 전통 농악에서 파생되었지만 그리 오랜 역사를 가진 것은 아니며 1978년 창단한 김덕수 사물놀이패로 시작되었다. 사물놀이는 대중적인 파급효과와 맞물려 새로운 예술 장르를 지칭하는 말로 변모되었다. 매우 독창적이고 신명 나는 흥겨운 음악으로 전 세계에서 공연되고 있다.
  
  추임새 = chuimsae


- if (!isSuccess)
  script
    alert('합주실에 입장할 수 없습니다.');
    location.href = '/enter';
- else

  img#jingButton(src='http://cloud.github.com/downloads/diginori/digiNORI.js/jing.png')
  img#bukButton(src='http://cloud.github.com/downloads/diginori/digiNORI.js/buk.png')
  p
  img#chuimsaeButton(src='http://cloud.github.com/downloads/diginori/digiNORI.js/chuimsae.png')
  p
  img#janggoButton(src='http://cloud.github.com/downloads/diginori/digiNORI.js/janggo.png')
  img#ggoenggwariButton(src='http://cloud.github.com/downloads/diginori/digiNORI.js/ggoenggwari.png')
  

  h3 합주실 : 
    span#roomName= roomName 
    input#leave(type='button', value='나가기')
  #chatWindow(style='width:60%; height:400px; overflow:auto; border:1px solid #000; float:left; margin-right:10px;')
  


  div(style='width:100px; height:400px; overflow:auto; border:1px solid #000;')
    p 연주자
    ul#attendants
      each attendant in attendants
        li(id='attendant-'+attendant)= attendant 
  form
    span#myName #{nickName}
    input(type='text', style='width:77%;')#message
    input(type='submit', value='보내기')

  script(type='text/javascript')
    $(document).ready(function() {
      var room = io.connect('/room'); 
      var chatWindow = $('#chatWindow');
      var messageBox = $('#message');
      var myName = $('#myName').text();
      var attendants = $('#attendants');
      var showMessage = function(msg) {
        chatWindow.append($('<p>').text(msg));     
        chatWindow.scrollTop(chatWindow.height());
      };

      room.on('connect', function() {
        room.emit('join', {roomName:$('#roomName').text(), nickName:myName}); 
      });

      room.on('joined', function(data) {
        if(data.isSuccess) {
          showMessage(data.nickName + '님이 입장하셨습니다.');
          attendants.append($('<li>')
            .attr('id', 'attendant-'+data.nickName)
            .text(data.nickName)); 
        }
      });

      room.on('message', function(data) {
        showMessage(data.nickName + ' : ' + data.msg); 
      });

      room.on('leaved', function(data) {
        showMessage(data.nickName + '님이 나가셨습니다.');
        $('#attendant-'+data.nickName).remove();
      });

      $('form').submit(function(e) {
        e.preventDefault();
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

      $('#leave').click(function(e) {
        room.emit('leave', {nickName:myName});
        location.href='/enter';
      });

      $("#jingButton").mousedown(function() {
        messageBox.val('j');
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

      $("#bukButton").mousedown(function() {
        messageBox.val('b');
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

      $("#janggoButton").mousedown(function() {
        messageBox.val('g');
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

      $("#ggoenggwariButton").mousedown(function() {
        messageBox.val('k');
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

      $("#chuimsaeButton").click(function() {
        messageBox.val('c');
        var msg = messageBox.val();
        if ($.trim(msg) !== '') {
          showMessage(myName + ' : ' + msg);
          room.json.send({nickName:myName, msg:msg});
          messageBox.val('');
        }
      });

    });
 
